[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ico2-add-file:before {
  content: "\e918";
  color: #17d178;
}
.icon-ico2-completed-downloads:before {
  content: "\e919";
  color: #6785f2;
}
.icon-ico2-copy:before {
  content: "\e91a";
  color: #7291be;
}
.icon-ico2-download-file:before {
  content: "\e91b";
  color: #031298;
}
.icon-ico2-downloads:before {
  content: "\e91c";
  color: #f267c8;
}
.icon-ico2-edit:before {
  content: "\e91d";
  color: #17d178;
}
.icon-ico2-file-flow-size:before {
  content: "\e91e";
  color: #9a5bff;
}
.icon-ico2-settings:before {
  content: "\e921";
  color: #ff8a4f;
}
.icon-ico2-smart-contract-bal:before {
  content: "\e922";
  color: #6785f2;
}
.icon-ico2-token-bal:before {
  content: "\e923";
  color: #17d178;
}
.icon-ico2-upload-file:before {
  content: "\e924";
  color: #fff;
}
.icon-ico2-uploads:before {
  content: "\e925";
  color: #17d178;
}
.icon-ico2-wallet:before {
  content: "\e926";
  color: #b56dfc;
}
.icon-ico2-wallet-bal:before {
  content: "\e927";
  color: #e07bb8;
}
.icon-ico2-withdraw:before {
  content: "\e928";
  color: #031298;
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-ico-lock:before {
  content: "\e906";
}
.icon-ico-eye-inactive:before {
  content: "\e907";
}
.icon-ico-remove:before {
  content: "\e908";
}
.icon-ico-pause:before {
  content: "\e909";
}
.icon-ico-play:before {
  content: "\e90a";
}
.icon-ico-ufr:before {
  content: "\e90b";
}
.icon-ico-ethereum:before {
  content: "\e90c";
}
.icon-ico-remove-type-2:before {
  content: "\e90d";
}
.icon-ico-edit:before {
  content: "\e90e";
}
.icon-ico-remove-file:before {
  content: "\e90f";
}
.icon-ico-find-f-ile:before {
  content: "\e910";
}
.icon-ico-upload:before {
  content: "\e911";
}
.icon-ico-search:before {
  content: "\e912";
}
.icon-ico-settings:before {
  content: "\e913";
}
.icon-ico-wallet:before {
  content: "\e914";
}
.icon-ico-completed:before {
  content: "\e915";
}
.icon-ico-download:before {
  content: "\e916";
}
.icon-ico-upload-active:before {
  content: "\e917";
}
.icon-dollar:before {
  content: "\e900";
}
.icon-info-icon:before {
  content: "\e901";
}
.icon-cancel:before {
  content: "\e904";
}
.icon-play:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e903";
}
.icon-stop:before {
  content: "\e905";
}
.icon-plus:before {
  content: "\ea0a";
}
